extends ../base.pug

block title
  title Civilopedia

block styles
  link(rel="stylesheet", type="text/css" href="/style/civ3pedia/civilopedia.css")

block main
  div#civilopedia
    img(src="/img/Civilopedia/civilopediaE.bmp")
    img(src="/img/Civilopedia/bar-green.bmp")
    img(src="/img/Civilopedia/civilopediaA.bmp")
    img(src="/img/Civilopedia/bar-grey.bmp")
    img(src="/img/Civilopedia/civilopediaBackground.bmp")
    img(src="/img/Civilopedia/bar-red.bmp")
    img(src="/img/Civilopedia/civilopediaF.bmp")
    img(src="/img/Civilopedia/bar-purple.bmp")
    img(src="/img/Civilopedia/civilopediaG.bmp")
    img(src="/img/Civilopedia/bar-yellow.bmp")
    img(src="/img/Civilopedia/civilopediaD.bmp")
    img(src="/img/Civilopedia/bar-orange.bmp")
    img(src="/img/Civilopedia/civilopediaC.bmp")
    img(src="/img/Civilopedia/bar-green.bmp")
    img(src="/img/Civilopedia/civilopediaB.bmp")
    img(src="/img/Civilopedia/bar-blue.bmp")
    img(src="/img/Civilopedia/civilopediaB.bmp")
    img(src="/img/Civilopedia/civilopediaA-top-coverUp.bmp")
    img(src="/img/Civilopedia/civilopediaA-bottom-coverUp.bmp")
    img(src="/img/Civilopedia/F-lower.bmp")
    img(src="/img/Civilopedia/civilopediaD-coverUp.bmp")
    img(src="/img/Civilopedia/civilopediaC-coverUp.bmp")
    img(src="/img/Civilopedia/B-cover.bmp")
    block covers
    div#background
    div#title CIVILOPEDIA
    div#bigimg(style=`background-image: url("/img/icons/${image}.bmp");`)
    div#header #{header}
    a#backarrow(href='javascript:history.back()')
    a#forwardarrow(href='javascript:history.forward()')
    if more
      a#descbox(href=`${moreLink}`) #{more}
    div#menu
      a#uparrow(href=`${uplink}`)
      a#leftarrow(href=`${leftlink}`)
      a#rightarrow(href=`${rightlink}`)
      div#letters
        each letter in "abcdefghijklmnopqrstuvwxyz".split('')
          a(href=`${letterlink}#${letter.toUpperCase()}`) #{letter.toUpperCase()}
    div#content
      block content
      each item in menu
        a.link(href=`${item.path}`, id=`${item.name.includes('The ') ? item.name[4] : item.name[0]}`)
          img(src=`/img/icons/${item.image}.bmp`, style=`border: 2px solid ${item.bordercolor};`)
          span!= item.name
      p#text!= text
