extends civilopedia.pug

block append styles
  link(rel="stylesheet", type="text/css", href="/style/civ3pedia/resources.css")

block content
  div#tiles.bigtext TILE BONUS
  div#values
    span.value +#{data['Tile Bonus'][0]}
    div.food
    span.value +#{data['Tile Bonus'][1]}
    div.shield
    span.value +#{data['Tile Bonus'][2]}
    div.wealth
  div#requires.bigtext REQUIRES
  div#advances.smalltext Advances
  div#advance.container
    each item in advances
      a.bottomlink(href=`${item.path}`)
        img(src=`/img/icons/${item.image}.bmp`, style=`border: 2px solid ${item.bordercolor};`)
        span #{item.name}

block covers
  if !data.Advance
    div.cover
  else
    div.cover.coverbottom
