doctype html
html
  head
    title Civilopedia
    meta(charset="ISO-8859-1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="/style/civilopedia.css")
    block styles
  body
    main
      div#civilopedia
        div#background
        div#title CIVILOPEDIA
        div#bigimg(style=`background-image: url('/img/icons/${image}.bmp');`)
        div#header #{header}
        div#content
          block content
          each item in menu
            a.link(href=`${item.path}`)
              img(src=`/img/icons/${item.image}large.bmp`, style=`border: 2px solid ${item.bordercolor};`)
              span!= item.name
          p#text!= text
